.home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
.home-section-right {
  display: flex;
  gap: 30px;
  align-items: center;
}
ul {
  display: flex;
  list-style-type: none;
  gap: 40px;
}
a {
  text-decoration: none;
  color: #ffffff;
  font-family: Orbitron;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
.link:hover {
  transition: all 0.8s;
  color: #fac422;
}
.home {
  padding-top: 20px;
  background: var(--primary-color);
}

.btn {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
  background: transparent;
  border: 1px solid white;
  color: #ffffff;
  cursor: pointer;
  font-family: Orbitron;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.mode-btn1 {
  border: none;
  background: transparent;
  cursor: pointer;
}
.menu-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
}
#nav-open {
  /* display: none; */
}

#navbar-responsive {
  background-color: red;
  position: fixed;
  top: 0;
  left: -100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: 0;
  align-items: center;
  width: 100%;
  transition: 0.5s;
}

#navbar-close {
  position: absolute;
  top: 25px;
  right: 25px;
  background-color: red;
  cursor: pointer;
}
