@media (max-width: 920px) {
  .home-section-content {
    display: none;
  }
  .cloud-gaming-section {
    flex-wrap: wrap;
  }
}
@media (max-width: 430px) {
  .home-section-right {
    flex-wrap: wrap;
  }
  .hero-section-left p {
    color: brown;
  }
  .team-section-left h2 {
    text-align: center;
  }
  .cloud-gaming-section-left h1 {
    text-align: center;
  }
  .articles-content h2 {
    text-align: center;
  }
  .articles-content p {
    text-align: center;
  }
}
@media (max-width: 750px) {
  .hero-section {
    flex-wrap: wrap;
  }
  .about-section {
    flex-wrap: wrap;
  }
  .team-section {
    flex-wrap: wrap;
  }
  .hero-section-left h1 {
    text-align: center;
    font-size: 40px;
  }
  .hero-section-left p {
    text-align: center;
  }
}
@media (max-width: 1115px) {
  .play img {
    display: none;
  }
}
@media (max-width: 1020px) {
  .articles-section {
    flex-wrap: wrap;
  }
  .pages-section-right button {
    display: none;
  }
}
@media (max-width: 500px) {
  .footer h1 {
    font-size: 40px;
    text-align: center;
  }
}
